$button-default-bg-color: #304FFD;
$button-default-text-color: #FFF;
$button-default-font-family: Roboto;

.button {
  border-radius: 14px;
  background: $button-default-bg-color;
  font-weight: 500;
  font-size: 15px;
  font-family: $button-default-font-family;
  color: $button-default-text-color;
  padding: 10px 0 11px;
  width: 100%;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &_outline {
    background: none;
    color: #595F69;
    border: 1px solid #E8E9EB;
    filter: none;
  }

  &_google {
    color: #595F69;
    background: url("../../assets/img/google-icon.svg") 13px no-repeat;
  }
}
