@import "reset-css/reset.css";
@import "common/variables";
@import "layout";
@import "styles/common/card";
@import "styles/common/button";
@import "styles/common/form-input";
@import "styles/common/typography";
@import "styles/common/delimiter";
.wrapper {
  height: 100vh;
  background: #304FFD;
}

.register-form {
  display: flex;
  padding: 70px 0;
  flex: 1;
  max-width: 600px;

  .h1 {
    margin-bottom: 51px;
  }

  form {
    display: flex;
    flex: 1;
  }
}

.register-img {
  height: 100vh;
  display: flex;
  max-width: 580px;
  img {
    max-width: 100%;
  }
}

.spacer {
  width: 100%;
}

.register-form-wrap {
  width: 100%;
}

html {
  overflow: hidden;
}


.register-delimiter {
  flex-basis: 60px;
}

@media screen and (max-width: 1024px)  {
  .register-img {
    max-width: 408px;
  }
  .register-form {
    max-width: 430px;
  }
  .register-delimiter {
    flex-basis: 40px;
  }

  .forgot-password {
    order: 1;
    width: 100%;
    text-align: center;
  }
}
